.heading {
    font-size: 28px;
    margin-bottom: 32px;
    position: relative;
}

.heading::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px; 
    border-bottom: 5px solid #f80759; 
}